@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bear University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Bear University</h2>
        <p>
            Bear University is a University in the Pacific
            Northwest for scholarly animals.
        </p>
        <div class="other bear">
            <img src="~/images/bear.jpg" alt="Bear University Art">
        </div>
    </div>
</div>
