@{
    ViewData["Title"] = "Church Movie Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Church Movie App</h1>
</div>


<div class="other other-side">
<img src="~/images/other.jpg" alt="Other Side of Heaven Movie Art">
</div>
