@page
@model WebMegaDesk.Pages.AboutModel
@{
}

<div class="container h2">
    <p>
        <strong>Team far West </strong>
    </p>
    <h3 class="my-5">Team Members:</h3>
    <ul>
        <li><strong>Cindi Nichols</strong></li>
        <li><strong>Eli Bear</strong></li>
        <li><strong>Chris Lundquist</strong></li>
        <li><strong>Moises Sanchez</strong></li>

    </ul>
    
</div>